footer{
    box-shadow:2px -2px 2px rgba(0, 0, 0, 1) ;
    /* border: 2px solid black;   */
    margin-top: 50px;
    padding: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    font-family: var(--primary-font);
    background-color: var(--nav-bg-color);
    font-family: var(--secondary-font);
    color:var(--nav-text-color);
    opacity: .8;
}
.footer p{
    padding-bottom: 5px !important;
}
.footer .socials a{
    text-decoration: none;
    color:white;
}