footer{
    height: 150px;
    width:auto;
    box-shadow:2px -2px 2px rgba(0, 0, 0, 1) ;
    /* border: 2px solid black;   */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;


}