
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-font: "Fira Sans", sans-serif;
    --secondary-font:"Bebas Neue", sans-serif;
    --small-text-font: "Fira Sans", sans-serif;
    --primary-text-color:#331D2C;
    --secondary-text-color:#EFE1D1;
    --nav-bg-color:#331D2C;
    --nav-text-color:#EFE1D1;
    --opacity-transition:opacity .5s ease-in;
}
*{
    scroll-behavior: smooth;
    
}
body{
    
    padding: 0;
    margin: 0;
    color: var(--primary-text-color) !important;
  
}
input , 
textarea,
label
{
    box-sizing: border-box;
}
textarea{
    resize: none !important;
}
p{
    padding:0 !important;
    margin: 0 !important;
}
button ,
a{
    cursor: pointer;
    border-radius: 10px;
    color: black;
}
.primary-title,
button
{
    font-family: var(--small-text-font);
    font-size: 1.1rem;
}
section{
    /* height: calc(100vh - 80px) !important; */
    padding-top: 80px !important;
    font-family: var(--primary-font);
    transform: translateY(70px); 
    transition: var(--opacity-transition), transform 0.5s ease;
}
section.show-opacity{
    transform: translateY(0);
}
/* section#home,
section#about
{
    padding-top: 80px !important;
} */
.wrapper{
    /* width:100%; */
    padding: 0 30px ;
}
.wrapper-header{
    display: flex;
    flex-direction: column;
    padding:0 20px;
    padding-bottom: 40px;
}
.wrapper-body{
    padding:20px 0;

}
.btn-group{
    display:flex;
    justify-content: center;
    gap:10px;
}
.card-list{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    padding:15px;
}
.card{
    width:clamp(200px ,30vw , 350px);
    height: clamp(200px ,40vh , 250px);
    padding:10px;
    box-shadow: 0 0 3px rgba(0, 0,0,.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
    flex-grow: 1;
}
.card-body{
    overflow: hidden;
    border-radius: 10px;
}
.card-body img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform .5s ease-in-out , blur .5s ease-in-out;
}
.card-footer > div{
    display: inline-block;
    width:49%;
}
.card-footer .stacks{
    font-size: 1.2rem;
    vertical-align: middle;
}
i[class^='iconoir']::before{
    display:inline-block;
}
.card-footer{
    position: relative;
}
.card-footer  a{
    border:none;
    background: transparent;
    padding:5px 15px;
    position: absolute;
    right:0;
    top:0;
}
.card:has(.card-footer a:hover) .card-body img{
    transform: scale(1.1);
    filter: blur(2px);
}
.card-footer a:hover{
    color:rgba(0, 0, 255, 0.459);
}
.card-footer > div:nt
.scrollable-list{
    height:100%;
    display: grid;
    grid-template-columns: auto;
    row-gap:100px;
}
.wire-frame li{
    position: relative;
   list-style: none;
}
.wire-frame li::before{
    content: "";
    left:-11px;
    top:58px;
    height: 95.6%;
    border:2px solid black;
    position: absolute;
}
.wire-frame li:last-child::before{
   display: none;
}
.frame{
    display: grid;
    grid-template-columns: 40% 60%;
}
.frame-left > .header p:nth-child(1){
    font-size: clamp(1.5rem , 2vw , 2.5rem);
}
.frame-left > .header p:nth-child(2){
    font-size: clamp(1.2rem , 2vw , 1.2rem);
}
.frame h1{
    padding-bottom: 0;
    margin-bottom: 0;
}
.frame-right{
    padding:50px;
}
.school-image > img{
    width:80%;
    object-fit: cover;
    object-position: 50px 50px;
}
.not-allowed{
    cursor: not-allowed;
}
.hide-opacity{
    opacity: 0;
}
.show-opacity{
    opacity: 1;
}
@media screen and (max-width:700px) {
    .school-image > img{
        min-width: 10px;
        object-position: 0;
    }
}