@media screen and (max-width:900px) {
    #home .wrapper{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #projects .wrapper-body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #projects .card-list{
        flex-wrap: wrap;    
    }
    .frame{
        display: grid;
        grid-template-columns: auto;
    }
 
}