/* HOME SECTION */
section#home{
    /* background-image: url('../images/backgrounds/reflection-from-laptop-glasses-d.jpg');
    background-size: cover;
    color: var(--secondary-text-color); */
    height: calc(100vh - 80px) !important;
}
#home .wrapper{
    display:flex;
    align-items: center;
    height: 100% !important;
}
#home .wrapper-body{
    align-self: center;
}
#home .full-name p:nth-child(1){
    font-size:clamp(2.5rem,3vw,3.5rem);
    font-family: var(--primary-font);
}
#home .full-name span{
    font-family: var(--secondary-font);
    font-size: clamp(8rem,10vw,10rem);
}
#home .position-title{
    font-family:var(--small-text-font);
    font-weight: 300;
    font-size: 1.5rem;
} 
#home .btn-group{
    padding-top:10px;

}
.my-works-btn,
.download-cv-btn
{
    border:1px solid black;
    padding:8px 15px;
    background-color: transparent;
    text-decoration: none;
}


/* PROJECT SECTION */
#projects .wrapper{
    padding:20px 50px;
}
#projects .wrapper-header{
    gap:15px;
    padding-bottom: 60px;
}
#projects .primary-title{
    font-size: 1rem;
    border:1px solid black;
    padding:8px 13px;
    width:100px;
    border-radius: 10px;
    text-align: center;
  
}
.sub-title{
    padding:15px;
    font-size: clamp(2.5rem,3.5vw,3.5rem);
    font-family: var(--primary-font) !important;
}

#projects .wrapper-body{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#projects .card-list{
    gap:5px;
    padding:30px;
    overflow: auto !important;
    
}
#projects .card{
    flex:1 0 clamp(150px , 5vw , 250px);
    transition: flex-basis .5s ease;
}
#projects .card:hover{
    /* min-width: 300px !important; */
    flex-basis: clamp(160px , 5.5vw , 255px) !important;
}

/* ABOUT SECTION */
#about .wrapper{
    padding-top:30px !important;
}
#about  .primary-title{
    font-size: 1rem;
    border:1px solid black;
    padding:8px 13px;
    width:100px;
    border-radius: 10px;
    text-align: center;
    transition: var(--opacity-transition);
}
#about .wrapper-body{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#tech-stacks,
#educ-background 
{
    display:flex;
    flex-direction: column;
    padding:20px;
}

#tech-stacks > .header ,
#educ-background > .header
{
    padding-bottom: 50px;
}
#tech-stacks > .header:nth-child(1) p ,
#educ-background > .header:nth-child(1) p 
{
    font-size:clamp(2rem , 3vw , 3.5rem);
    font-family: var(--primary-font) !important;
    min-width: 80%;
    max-width: 100%;
}
#frontend{
    display:flex;
    flex-direction: column;
}
#frontend ,
#backend ,
#others
.header{
    font-size:1.5rem;
    padding-bottom: 10px;
}

#frontend .card-list,
#backend .card-list,
#others .card-list
{
    display:flex;
    flex-wrap: wrap;
    gap:20px !important;
    padding: 0 !important;
}
#frontend .stack ,
#backend .stack ,
#others .stack
{
    padding:5px;
}
#stack-image{
    width:50px;
    height: 50px;
}
#educ-background{
    display:flex;
    flex-direction: column;
}

/* CONNECT */
#connect .wrapper-body{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}
#connect .wrapper-body > div{
    flex: 1 0 0;
}
.contact-details p {
    padding: 8px 0 !important;
}
.contact-details p > i{
    font-size:1.2rem;
}
.contact-details p > i::before{
    content:"";
    font-size: var(--small-text-font) !important;
    vertical-align: middle;
    display: inline-block;
}
.contact-details{
    align-self: center;
}

.form-field .form > div {
    padding:10px;
}
.form-field {
    min-width: 50%;
    max-width: 100%;

}
.wrapper-field label,
.wrapper-field input,
.wrapper-field textarea
{
    display: block;
    width:100%;
    padding:10px;
}
.wrapper-field label{
    padding:10px 0 !important;
}
.email-send{
    float: right;
    padding: 15px 0;
}
.email-send button{
    border-radius: 5px !important;
    padding:10px;
}



